<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#b6aba5">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <link rel="stylesheet" href="/css/login_page.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;800&display=swap" rel="stylesheet">

    <link rel="icon" href="/images/favicon.png">
    <title>Plan Your Day - Welcome back!</title>
</head>

<body>
    <div id="preloader"></div>
    <div id="header">
        <h1>Welcome back!</h1>
    </div>
    <div id="body">
        <div class="column-one">
            <!-- empty space -->
        </div>
        <div class="column-two">
            <div>
                <form action="/login" method="POST">
                    <input type="text" name="email" placeholder="Your e-mail" autocomplete="off" required>
                    <input type="password" name="password" placeholder="Your password" required>
                    <button class="login-button" type="submit">Login</button>
                </form>
                <form action="/register" method="GET">
                    <button class="register-button" type="submit">Create account</button>
                </form>
                <form action="/" method="GET">
                    <button class="home-button" type="submit">Home</button>
                </form>
            </div>
        </div>
        <div class="column-three">
            <!-- empty space -->
        </div>
    </div>
    <div id="footer">
        <span>© <%=year%> <a href="https://www.markososkic.com" target="_blank">Marko Soskic</a></span>
    </div>
    <script src="/scripts/index.js"></script>
</body>

</html>